
  <nav class="navbar navbar-light " id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://th.bing.com/th?q=Apple+Music+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247" 
        alt="" width="30" height="24" class="d-inline-block align-text-top">
        Song-Player
        
      </a>
      <button   class="btn">
        <a routerLink="/login">LOGIN</a>
      </button>
      <button   class="btn">
        <a routerLink="/register">REGISTER</a>
      </button>
    </div>
  </nav>



  <router-outlet></router-outlet>