#header{
    background: linear-gradient(180deg,rgb(125, 69, 221) 0%, rgb(243, 244, 113));
}

a{
    color: black;
    text-decoration: none;
    }
    nav{
        position: fixed;
        width: 1535px;
    }
   