.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}
#songName{
  text-align: center;
  margin-top: 10px;
  background-color: white;
  font-weight:700;
}


.song-card {
  margin-bottom: 20px;
}
body{
  background: transparent;
}
.card {
  width: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  margin-top: 80px;
}

.card:hover {
  box-shadow: 0px 5px 50px rgb(235, 218, 112);
}

.card-img-top {
  width: auto;
  height:250px;
}



.card-text {
  font-size: 1.2rem;
  color: #008cba;
}

.card-info {
  position: absolute;
  top: 18%;
  left: 0;
  font-weight: 600;
  font-size: 200px;
  width: 100%;
  height: 82%;
  background-color:rgba(126, 71, 222, 0.871);
  padding: 1rem;
  color: #e0f400;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-info {
  opacity: 1;
}

.card-info p{
  margin-bottom: 0;
  text-align: center;
}
#song-player{
  align-self: center;
}